@{
    ViewData["Title"] = "Acquista il tuo Bigletto - Cinema Multisala";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto al Cinema Multisala</h1>
    <h1 class="display-4">Prenota il tuo biglietto</h1>
</div>
<div class="container-fluid">
    <div class="row">
         <div class="col-8 col-md-4">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="img/img1.webp" alt="Sala-nord">
                <div class="card-body">
                    <h4 class="card-title">Sala Nord</h4>
                    <p class="card-text">Accedi alal Sala Nord per avere la migliore esperienza per le immagini e cinema 3D</p>
                    <a href="/CinemaController/Welcome" class="btn btn-primary">Acquista</a>
                </div>
            </div>
         </div>
        <div class="col-8 col-md-4">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="img/img2.webp" alt="Sala-Sud">
                <div class="card-body">
                    <h4 class="card-title">Sala Sud</h4>
                    <p class="card-text">Ottima sala per le film per tutta la famiglia</p>
                    <a asp-controller="Cinema" asp-action="SalaNord" class="btn btn-primary">Acquista</a>
                </div>
            </div>
        </div>
        <div class="col-8 col-md-4">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="img/img3.webp" alt="Sala-Est">
                <div class="card-body">
                    <h4 class="card-title">Sala Est</h4>
                    <p class="card-text">Ti piace l'avventura ma vuoi spendere poco ? Acquista il tuo bigletto in Sala Est</p>
                    <a asp-controller="Cinema" asp-action="SalaSud" class="btn btn-primary">Acquista</a>
                </div>
            </div>
        </div>
    </div>
</div>
