@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SALA NORD - PRENOTA!";
}
<h1 class="text-center">SALA NORD PRENOTA BIGLIETTI</h1>
<form method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" />
    <label for="cognome">Cognome</label>
    <input type="text" name="cognome" />
</form>